body {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.screen {
    display: flex;
    justify-content: center;
}

.picture {
    margin-right: 75px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.midokitext {
    display: flex;
}

.presentation {
    color: #9da09f;
    margin: 0;
    font-size: 30px;
}

h1 {
    font-size: 125px;
    color: #8bc927;
    height: 50px;
    margin-top: 0;
}

.yellow {
    color: #f6cd47;
}

h3 {
    color: #a8abaa;
}

a {
    color: aliceblue;
    background-color: #8bc927;
    height: 40px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    border-radius: 8px;
    padding-top: 10px;
}

.dots {
    display: flex;
    justify-content: space-between;
    font-size: 70px;
    width: 45px;
}

h4 {
    color: #8bc927;
    margin: 0;
}

.picturetext {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}

.picturetext2 {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .screen {
        flex-direction: column;
    }
}